head {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: italic;
}
